*.Rmd
*.qmd
*.duckdb
*.Rproj.user
*.DS_Store
*.RData
*.Rhistory
*.DS_Store
.Rproj.user
*.ipynb
Simulation%20Storm_files/
Minimum_Fitness_files/
/PhaseLength_files
/Simulation-Results_Files/simulation_storm/phaselen/20thNov23at091514PM/combined.txt
*11thDec2023at035225AM